	<div class="container">
	  <div class="row">
	    <div class="span5 welcome">
		<h1>welcome to blah dee blah</h1>
		<p>this is some other text about the main site</p>
		</div>
		<div class="span7 recent">
		<h3>recently made...</h3>
    <div class="container span7">
    
    
  	
    <div id="myCarousel" class="carousel slide">  
  <!-- Carousel items -->  
  <div id="recently_made" class="carousel-inner">  
    <!-- recently made stuff goes here -->

  </div>  
  <!-- Carousel nav -->  
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>  
        
		</div>
    </div>
	  </div>
	</div>






<div class="container recent-added">
<h3>Recently added</h3>
      <!-- Three columns of text below the carousel -->
      <div id="recently_added" class="row">
        <!-- recent added stuff goes here -->

      </div><!-- /.row -->
      </div><!-- /.container -->