<div class="span4">
  <img class="img-circle" data-src="holder.js/140x140">
  <h4><%= name %><span><%= added_by_name %></span></h4>
  <p><%= tag_line %></p>
  <p><a class="btn view" href="#<%= id %>">View Recipe &raquo;</a></p>
</div>