	<div class="container">
	  <div class="row">
	    <div class="span12">
		<h3>search</h3>
    <p><input class="search-term" type="text" place-holder="enter term" /> <a href="#" class="btn search-btn">Search</a></p>
		<p>Enter a search term to find what you're looking for...</p>
		</div>
		<div class="span12 search-results">
    
    </div>
	  </div>
	</div>