	<div class="container">
	  
		<h3>search</h3>
    <div class="row">
	    <div class="col-md-4">
        <input class="search-term form-control" type="text" placeholder="Enter search term..." />
      </div>
      <div class="col-md-8">
        <a href="#" class="btn btn-default search-btn">Search</a>
      </div>
		</div>
		<div id ="search-results" class="span12">
    
    </div>
	  </div>
	</div>